.catalog {
  width: 320px;
  height: 490px;
  margin: 0 auto 34px auto;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
}

.catalog__title {
  padding: 76px 0 0 0;
  margin: -17px 0 135px 38px; //по макету 120px снизу должно быть?

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.catalog__list {
  padding: 112px 0 0 0;

  @include reset-list;
}

.catalog__item {
  width: 320px;
  height: 103px;

  background-color: #63d1bb;

  &--darkgreen {
    background-color: #56c3b2;
  }
}

.catalog__link {
  position: relative;

  display: block;
  padding-left: 29px;
  padding-top: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;

  &::before {
    position: absolute;

    content: "";

    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--interior-items::before {
    top: 23px;
    left: 244px;

    width: 40px;
    height: 62px;

    background-color: #63d1bb;
    background-image: url("../img/icon-interior.svg");
  }

  &--toys::before {
    top: 21px;
    left: 223px;

    width: 60px;
    height: 60px;

    background-color: #20c5af;
    background-image: url("../img/icon-toy.svg");
  }
}

.catalog__link-text {
  display: block;
  width: 110px;
}
