.catalog {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  width: 320px;
  height: 575px;
  margin: 0 auto;
}

.catalog__title {
  color: #010000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 76px;
  margin-left: 38px;
}

.catalog__list {
  padding: 0;
  margin: 0;
  padding-top: 112px;
}

.catalog__item {
  background-color: #63d1bb;
  width: 320px;
  height: 103px;

  @include reset-ul;

  &--darkgreen {
    background-color: #56c3b2;
  }
}

.catalog__link {
  color: #ffffff;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 29px;
  padding-top: 30px;
  display: block;
  position: relative;
  width: 110px;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--interior-items::before {
    width: 40px;
    height: 62px;
    top: 23px;
    left: 244px;
    opacity: 0.5;
    background-color: #63d1bb;
    background-image: url("../img/icon-interior.svg");
  }

  &--toys::before {
    width: 60px;
    height: 60px;
    top: 21px;
    left: 223px;
    opacity: 0.5;
    background-color: #20c5af;
    background-image: url("../img/icon-toy.svg");
  }
}
