.contacts__wrapper {
  margin: 0 auto;
  width: 320px;
  margin-bottom: 42px;
}

.contacts__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-bottom: 42px;
}

.contacts__email {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-bottom: 23px;
}

.contacts__address {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
}

.contacts__map-iframe {
  width: 100%;
  height: 457px;
  margin-bottom: 58px;
  border: none;
}

.contacts__write-to-us {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: 260px;
  min-height: 52px;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding-left: 52px;
  padding-top: 19px;
  padding-bottom: 20px;
  margin-left: 30px;
  display: block;
  margin-bottom: 30px;
}
