.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.contacts__title {
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-bottom: 42px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__data {
  display: flex;
  width: 260px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;

  &--email {
    margin: 0 0 23px 29px;
    padding: 0;
  }

  &--address {
    padding: 0;
    margin: 0 0 0 29px;
  }
}

.contacts__data-info {
  display: inline-block;

  &--border {
    border-bottom: 1px solid #62d1ba;
    height: 30px;
  }
}

.contacts__data-title {
  display: inline-block;
  min-height: 46px;
  margin-right: 28px;

  &--address {
    min-height: 30px;
    min-width: 46px;
  }
}

.contacts__map-iframe {
  width: 100%;
  height: 457px;
  margin-bottom: 58px;

  border: none;
}

.contacts__write-to-us {
  width: 260px;
  min-height: 52px;
  padding: 20px 0;
  margin: 0 0 30px 30px;

  font-size: 18px;
}
