.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  margin-right: 30px;
  margin-bottom: 31px;
}
