.features__title {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 30px;
  margin-bottom: 88px;
}

.features__list {
  @include reset-ul;
  margin-left: 30px;
}

.features__item {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  width: 250px;
  margin-bottom: 85px;

  &--last {
    margin-bottom: 61px;
  }

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }

  &--ecology::before {
    top: -60px;
    left: 38px;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--nordic::before {
    top: -60px;
    left: 30px;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--more-likes::before {
    top: -60px;
    left: 37px;
    width: 47px;
    height: 27px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: -60px;
    left: 33px;
    width: 35px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    top: -60px;
    left: 24px;
    width: 55px;
    height: 23px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift-packed::before {
    top: -60px;
    left: 33px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}
