.features__title {
  margin: 0 0 88px 30px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.features__list {
  @include reset-list;
  margin-left: 30px;
}

.features__item {
  position: relative;

  width: 250px;
  margin-bottom: 85px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;

  &--last {
    margin-bottom: 61px;
  }

  &::before {
    position: absolute;
    top: -60px;

    content: "";

    background-repeat: no-repeat;
  }

  &--ecology::before {
    left: 38px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--nordic::before {
    left: 30px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--more-likes::before {
    left: 37px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    left: 33px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support::before {
    left: 24px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift-packed::before {
    left: 33px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}
