.global-btn {
  display: block;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid #444444;
  background-color: #ffffff;
}
