.header-nav__toggle {
  display: inline-block;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("../img/icon-menu-close.svg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.header-nav__logo {
  display: flex;
  justify-content: center;
}
