.header-user-list {
  @include reset-ul;
}

.header-user-list__link {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding-left: 46px;
  padding-top: 32px;
  display: inline-block;

  &--search::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 31px;
    left: 2px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--cart::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 18px;
    top: 31px;
    left: 0;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.header-user-list__item {
  width: 320px;
  min-height: 79px;
  position: relative;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
