.header-menu {
  @include reset-ul;
}

.header-menu__link {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding-left: 76px;
  padding-top: 32px;
  display: inline-block;
  position: relative;

  &--search::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 31px;
    left: 32px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--cart::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 18px;
    top: 31px;
    left: 30px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.header-menu__item {
  width: 320px;
  min-height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
