.main-title {
  color: #000000;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  min-height: 177px;
  background-color: #f1f1f1;
  padding-top: 76px;
  padding-left: 42px;
  margin-bottom: 30px;
}
