.modal-order {
  width: 320px;
  min-height: 336px;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  border: 1px solid #c6c6c6;
}

.modal-order__title {
  width: 148px;
  min-height: 50px;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 25px;
  margin-left: 89px;
}

.modal-order__select-size {
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  text-align: center;
}

.modal-order__list {
  display: flex;
  justify-content: center;

  @include reset-ul;
  margin-bottom: 31px;
}

.modal-order__size {
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 82px;
  min-height: 52px;
  border: 2px solid rgba(68, 68, 68, 0.1);
  background-color: #ffffff;
  cursor: pointer;

  &--selected {
    border: 2px solid #63d1bb;
  }
}

.modal-order__add {
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
  min-width: 260px;
  min-height: 52px;
  background-color: #63d1bb;
  margin-left: 30px;
  cursor: pointer;
  margin-bottom: 46px;
}
