.order__title {
  color: #231f20;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 8px;
  padding-top: 76px;
  min-height: 177px;
  background-color: #f1f1f1;
}

.order__description {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  width: 245px;
}

.order__form-title {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 198px;
    height: 1px;
    top: 6px;
    left: 62px;
    background-color: #62d1ba;
  }

  &--email::before {
    position: absolute;
    content: "";
    width: 179px;
    height: 1px;
    top: 6px;
    left: 81px;
    background-color: #62d1ba;
  }

  &--add {
    margin-bottom: 23px;
  }
}

.order__form-label {
  color: #000000;
  font-weight: 700;

  &--radio {
    margin-left: 62px;
    margin-bottom: 25px;
  }
}

.order__form-wrapper {
  display: flex;
  flex-direction: column;
}

.order__description-required {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 31px;
}

.order__form-block {
  display: flex;
  position: relative;

  &--name,
  &--surname,
  &--middle-name {
    flex-direction: column;
  }
}

.order__form-input {
  color: rgba(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  width: 260px;
  height: 52px;
  box-shadow: inset 0 -2px 0 #000000;
  background-color: #ffffff;
  border: none;
}

.order__form-add {
  color: rgba(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  resize: none;
  padding-right: 80px;
  width: 260px;
  height: 142px;
  box-shadow: inset 0 -2px 0 #000000;
  border: 2px solid #444444;
  background-color: #ffffff;
  margin-bottom: 18px;
}

.order__form-input-radio {
  position: relative;

  &--type-toy:checked ~ .order__form-label--radio::before,
  &--accessory:checked ~ .order__form-label--radio::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: solid 2px #444444;
    border-radius: 50%;
    box-shadow: inset 0 0 0 7px #ffffff,
      inset 0 0 0 18px #62d1ba;
    cursor: pointer;
  }

  &--type-toy ~ .order__form-label--radio::before,
  &--accessory ~ .order__form-label--radio::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #444444;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}

.order__form-input-checkbox {
  position: relative;

  &--white ~ .order__form-label--white::before,
  &--gray ~ .order__form-label--gray::before,
  &--tiffany ~ .order__form-label--tiffany::before,
  &--black ~ .order__form-label--black::before,
  &--pink ~ .order__form-label--pink::before,
  &--orange ~ .order__form-label--orange::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    cursor: pointer;
  }

  &--white:checked ~ .order__form-label--white::before,
  &--gray:checked ~ .order__form-label--gray::before,
  &--tiffany:checked ~ .order__form-label--tiffany::before,
  &--black:checked ~ .order__form-label--black::before,
  &--pink:checked ~ .order__form-label--pink::before,
  &--orange:checked ~ .order__form-label--orange::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    cursor: pointer;
    background-image: url("../img/icon-tick.svg");
    background-position-y: 5px;
    background-repeat: no-repeat;
  }
}

.order__form-label--checkbox {
  margin-left: 63px;
  margin-bottom: 30px;
  padding-top: 12px;
}

.order__btn-submit {
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 55px;
}
