.order__fieldset {
  border: none;
}

.order__main-title {
  color: #231f20;
}

.order__description {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 245px;
}

.order__title {
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 27px;
  margin-left: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 198px;
    height: 1px;
    top: 6px;
    left: 62px;
    background-color: #62d1ba;
  }

  &--email::before {
    position: absolute;
    content: "";
    width: 179px;
    height: 1px;
    top: 6px;
    left: 81px;
    background-color: #62d1ba;
  }

  &--add {
    margin-bottom: 23px;
  }
}

.order__label {
  color: #000000;
  font-weight: 700;

  &--radio {
    margin-left: 62px;
    margin-bottom: 25px;
  }
}

.order__form-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  margin-left: 30px;
  position: relative;

  &--tel::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 10px;
    right: 32px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  &--email::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 26px;
    top: 10px;
    right: 38px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }
}

.order__description-required {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 31px;
  margin-left: 30px;
}

.order__block {
  display: flex;
  position: relative;
  margin-bottom: 25px;

  &--name,
  &--surname,
  &--middle-name {
    flex-direction: column;
  }
}

.order__form-input {
  color: rgba(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  width: 260px;
  height: 52px;
  box-shadow: inset 0 -2px 0 #000000;
  background-color: #ffffff;
  border: none;
}

.order__form-add {
  color: rgba(68, 68, 68, 0.3);
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  resize: none;
  padding-right: 80px;
  padding-left: 17px;
  padding-top: 18px;
  width: 260px;
  height: 142px;
  border: 2px solid #444444;
  background-color: #ffffff;
  margin-bottom: 18px;
}

.order__radio {
  position: relative;

  &:checked ~ .order__label::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 40px;
    height: 40px;
    border: solid 2px #444444;
    border-radius: 50%;
    box-shadow: inset 0 0 0 8px #ffffff,
      inset 0 0 0 18px #62d1ba;
    cursor: pointer;
  }
}

.order__radio ~ .order__label::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.order__checkbox {
  position: relative;

  & ~ .order__label::before, {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    cursor: pointer;
  }

  &:checked ~ .order__label::before, {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 39px;
    border: 2px solid #444444;
    cursor: pointer;
    background-image: url("../img/icon-tick.svg");
    background-position-y: 5px;
    background-repeat: no-repeat;
  }
}

.order__label--checkbox {
  margin-left: 63px;
  margin-bottom: 30px;
  padding-top: 12px;
}

.order__btn-submit {
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 55px;
  margin-left: 30px;
}
