.product__link {
  margin: 0;
  padding: 0;
  min-width: 260px;
  height: 195px;
  display: block;
}

.product__description {
  border: 1px solid #ececec;
  background-color: #ffffff;
  width: 260px;
}

.product__description-title {
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-bottom: 17px;
  margin-left: 28px;
}

.product__description-options {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  position: relative;
  margin-left: 29px;
  margin-bottom: 54px;

  &::before {
    position: absolute;
    content: "";
    top: 39px;
    left: 28px;
    width: 204px;
    height: 1px;
    background-color: #ececec;
  }
}

.product__description-price {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 28px;
  margin-bottom: 30px;
}
