.product-features__title {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-left: 30px;
  margin-bottom: 88px;
}

.product-features__list {
  @include reset-ul;
  margin-left: 30px;
}

.product-features__description {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }
}

.product-features__item {
  width: 250px;
  margin-bottom: 85px;

  &--last {
    margin-bottom: 66px;
  }
}
