.reviews__title {
  color: #000000;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 29px;
  margin-bottom: 38px;
}

.reviews__block {
  margin: 0;
  padding: 0;
}

.reviews__text {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  width: 255px;
  margin-bottom: 40px;
}

.reviews__author {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  display: block;
  margin-bottom: 20px;
  margin-left: 30px;
}

.reviews__contact {
  font-style: normal;
  display: block;
  margin-left: 30px;
  margin-bottom: 36px;
}

.reviews__btn-control {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 50px 26px;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icon-left-arrow.svg");
    background-position: 38px 13px;
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
    background-position: 38px 13px;
  }
}

.reviews__controls {
  margin-bottom: 70px;
  font-size: 0;
  margin-left: 30px;
}

.reviews__wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 95px;
    left: 0;
    width: 320px;
    height: 6px;
    background-repeat: no-repeat;
    background-image: url("../img/bg-zigzag-line.svg");
  }
}

.reviews__button {
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  width: 260px;
  min-height: 12px;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding-left: 85px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  display: block;
  margin-bottom: 95px;
  position: relative;
}
