.social {
  @include reset-ul;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.social__item {
  margin-top: 25px;
}

.social__link {
  background-repeat: no-repeat;
  display: inline-block;


  &--insta {
    background-image: url("../img/icon-insta.svg");
    background-size: 22px 22px;
    width: 22px;
    height: 21px;
    margin-top: 5px;
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
    background-size: 15px 28px;
    width: 15px;
    height: 28px;
    margin-left: 40px;
    margin-right: 41px;
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-size: 23px 20px;
    width: 23px;
    height: 20px;
    margin-top: 5px;
  }
}
