@import "variables.scss",
  "global.scss",
  "mixins.scss",
  "blocks/header-menu-list.scss",
  "blocks/header-user-list.scss",
  "blocks/catalog.scss",
  "blocks/product-of-week.scss",
  "blocks/product-description.scss",
  "blocks/product-features.scss",
  "blocks/reviews.scss",
  "blocks/contacts.scss";
